@{
    ViewBag.Title = "Home Page";
}

<meta charset="utf-8">
<title>droppable demo</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<style>
    .draggable {
        width: 100px;
        height: 100px;
        background: #ccc;
        top: 150px;
        position: initial;
    }

    .droppable {
        position: absolute;
        left: 250px;
        top: 70px;
        width: 125px;
        height: 125px;
        background: #999;
        color: #fff;
        padding: 10px;
    }
</style>
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/jquery.ui.touch-punch.min.js"></script>

<div id="droppable1" class="droppable">Drop here</div>

<div id="draggable1" class="draggable">Drag me1</div>
<div id="draggable2" class="draggable">Drag me2</div>

<script>
    $("div.draggable").draggable();

    $("div.droppable").droppable({

        drop: function (event, ui) {
            var sourceId = ui.draggable.context.id;
            var targetId = event.target.id;

            alert(sourceId + " dropped on " + targetId);
        }
    });
</script>
